@charset "UTF-8";


@media screen and (min-width: 992px){
    div#nav_container{
        display:flex;
     }

     #logo{
        padding: 10px 10px 10px 50px;
     }

    span#burguer{display: none;}

    menu{
        display: block;
        background-color: #812626;
        padding: 10px;
        margin: auto;
        text-align: center;
        
    }
     menu a{
        display: inline;
        text-align: center;
        border-top: none;
        border-radius: 5px;
        margin: 0px 5px 0px 5px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.568);   
     }
    
    section{
        background-image: url(../imagens/fundo.jpg);
        width: 100vw;
        margin: auto;
        background-size: cover;
        background-position: center center;
    }

    section h2{
        padding-top: 70px;
        font-size: 3em;
    }
    section p{
        padding-top: 30px;
        font-size: 1.5em;
    }

    section div img{
        width: 350px;
        transform: translate(-20px, -30px);
    }

    .app{
        width: 265px;
        transform: translate(-20px, -70px);  
    }

    section div img:hover{
        transform: translate(-10px, -35px);
        transition: 1s;
    }

    .app:hover{
        transform: translate(-10px, -75px);
        transition: 1s;
    }
}
@media screen and (min-width: 1400px){

    section p{
        padding-top: 60px;
        font-size: 1.5em;
    }


    section div img{
        width: 400px;
        transform: translate(-20px,35px);
    }

    .app{
        width: 300px;
        transform: translate(-20px, 1px);  
    }

    section div img:hover{
        transform: translate(-10px, 40px);
        transition: 1s;
    }

    .app:hover{
        transform: translate(-15px, 2px);
        transition: 1s;
    }
}