@charset "UTF-8";


@media screen and (min-width: 992px){
    div#nav_container{
        display:flex;
     }

     #logo{
        padding: 10px 10px 10px 50px;
     }

    span#burguer{display: none;}

    menu{
        display: block;
        background-color: #812626;
        padding: 10px;
        margin: auto;
        text-align: center;
        
    }
     menu a{
        display: inline;
        text-align: center;
        border-top: none;
        border-radius: 5px;
        margin: 0px 5px 0px 5px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.568);   
     }
    
    section{
        background-image: url(../imagens/fundo.jpg);
        width: 100vw;
        margin: auto;
        background-size: cover;
        background-position: center center;
    }

    section h2{
        font-size: 3em;
    }

    section div img{
        transform: translate(-20px, 200px);
    }

    .app{
        transform: translate(-20px, 170px);  
    }
}