@charset "UTF-8";

@font-face {
   font-family: 'dream';
   src: url(../fonts/dream\ orphans.otf) format('opentype');
   font-style: normal;
   font-size: normal;
}
::-webkit-scrollbar{
   width: 0px;
   height: 0px;
 }

*{
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
}



html, body{
   background-color: whitesmoke;
}


header{
   width: 100vw;
   padding: 0px;
   margin: auto;
   
}

header div#logo{
   display: inline-block;
   margin: 20px auto 20px 20px;
}


header h1{
   position: relative;
   transform: translate(-20px, -20px);
   display: inline-block;
   font-family: 'dream', Arial, Helvetica, sans-serif;
   color: #bd1616;
   font-size: 2.5em;
   margin: auto auto 20px 30px;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.479);
}

header h1:hover{
   
   font-size: 2.7em;
   transform: translate(-25px, -20px);
   transition: 1s;
}

menu{
   display: none;
   
}

span#burguer{
   display: block;
   background-color: #ad1616;
   width: 100vw;
   padding: 10px;
   text-align: center; 
   cursor: pointer;
   color: white;
}

menu a{
   display: block;
   text-decoration: none;
   background-color: #812626;
   text-align: center;
   color: white;
   padding: 10px;
   border-top: 1px solid  white;
   width: 100vw;
}

menu a:hover{
   background-color: #4e0303;
   font-weight: bold;
   color: rgb(255, 255, 255);
   font-size: 1.1em;

   transition: 1.1s;
}

section{
   width: 100vw;
   height: 79vh;
   background-image: url(../imagens/fundovertical.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: contain;
   background-attachment: fixed;
  }

 

  footer{
   width: 100vw;
   background-color: #812626;
   padding: 10px;
   color:white;
   text-align: center;
  }








